
.archive-title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    h1 {
        font-weight: 400;
        margin-top: 1rem;
        text-transform: uppercase;
        @media screen and(min-width: $large_screen)  {
        margin-bottom: 3rem;
        }
    }
}

.archive-card {
    margin: 0 0.5rem;
    margin-bottom: 2rem;
    background: $light_color;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    @media screen and(min-width: $large_screen)  {
        max-width: 380px;
    }

    @media screen and(min-width: $extra_large_screen)  {
        max-width: 420px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin:unset;   

    } 
}

.archive-image-wrapper{
    height: 250px;
      
}   



