.center, 
.site-container {
    margin: 0 auto;
    padding: 1rem 1rem ;
    max-width: 800px; 
    margin-top: 3rem;
    @media screen and(min-width: $large_screen) {
        margin-top: 6rem;
    }
}

.archives-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(min-width: $large_screen)  {
        max-width: 1009px;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 auto; 
    }
    @media screen and(min-width: 1246px) {
        justify-content: center;
    }
}

.container {
    padding: 0 1rem;
     @media screen and (min-width: $large_screen) {
         padding: unset; 
         margin: 0 auto;
     }    
 }

 .swork-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(min-width: $large_screen)  {
        max-width: 1240px;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 auto; 
    }
    @media screen and(min-width: 1246px) {
        justify-content: center;
    }
}