.site-info {
    font-size: 0.9rem;
}

.margin-top {
    margin-top: 70px; 
    @media screen and (min-width: $large_screen) {
        margin-top: 120px;
    }   
}

.margin-2 {.pmt-2 {
    margin-top: 2rem;
}

.mt-0 {
    margin-top: 0;
}

    margin: 0 1rem;
    @media screen and (min-width: $large_screen) {
        margin: 0 2rem;
    } 
}

.p-1 {
    padding-top:1rem;
}


.cat-title {
    font-size: 1.6em;
}


.no-results-container {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pmt-2 {
    margin-top: 2rem;
}

.mt-0 {
    margin-top: 0;
}
.margin-1 {
    margin: 0 1rem;
}

.mt-1 {
    margin-top:1rem;
}

.margin-auto {
        margin: 0 auto;
    
}

.campagns {
    .margin-auto {
            margin: 2rem auto;
    }
}