.excerpt  {
    @media screen and (min-width: $large_screen) {
        grid-area: main;
        display: flex; 
        max-width: unset;
        max-width: unset;
        min-width: unset;
        margin: 5rem 0;  
    }

    .excerpt-text {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        @media screen and (min-width: $large_screen) {
            width:450px;
        }
        @media screen and (min-width: $extra_large_screen) { 
            width:600px;
        }  
    } 
    .excerpt-title {
        @media screen and (min-width: $extra_large_screen) { 
            line-height: 3.4rem;
            font-size: 2.7rem;
        }  

    }
    .post-thumbnail { 
        @media screen and (min-width: $large_screen) {
            width:450px;
            height: 450px;
            margin-right: 4rem;
        } 
        @media screen and (min-width: $extra_large_screen) {
            width:650px;
            height:650px;
        }
        img {
            margin-top: unset;
            @media screen and (min-width: $large_screen) {
                object-fit:fit;
                width: 100%;
                height: 100%;
                margin:unset;
                @include box-shadow-normal;
            } 
        }
        img:hover {
            filter: grayscale(0.7);
        }
    }
}



.excerpt {
    margin: 0 1rem;
    @media screen and(min-width: $large_screen)  {
        margin: 0rem;
    }
    
}


.page-title {
    margin: unset;
    @media screen and (min-width: $large_screen) {
        margin: unset;
        margin-bottom: 1rem;
    }
}

.excerpt-title,
.entry-title {
    margin-right: 1rem;
    @media screen and (min-width: $large_screen) {
        margin: unset;
        margin-bottom: 1rem;
    }
   
    a:hover {
        background:$mid_orange; 
        background: -webkit-linear-gradient(to right, $mid_orange, $darker_orange);
        background: linear-gradient(to right, $mid_orange, $darker_orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
        text-decoration: underline;
    }
}

.excerpt-meta,
.entry-meta {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    @media screen and (min-width: $extra_large_screen) {
        padding: unset;
        font-size: 0.9em;
    }     
}

.single-article {
    margin-top: unset;
}

.page-content {
    padding-left: 2rem;
}

.updated:not(.published) {
	display: none;
}

.page-header {
    min-width: 250px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 4em;
    font-size: 0.8rem;
    padding-left: 2rem;
    border-left: 1px solid #111;
    @media screen and (min-width: $large_screen) {
        margin-top: 6em;
        font-size: 1rem;
    }  
}

.site-info {
    font-size: 0.9rem;
}

.margin-top {
    margin-top: 50px; 
    @media screen and (min-width: $large_screen) {
        margin-top: 120px;
    }   
}

.margin-2 {
    margin: 0 1rem;
    @media screen and (min-width: $large_screen) {
        margin: 0 2rem;
    } 
}

.p-1 {
    padding-top:1rem;
}

.white-bg {
    background-color: $light_color;
}

.cat-title {
    font-size: 1.6em;
}


.no-results-container {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
