.site-info {
    font-size: 0.9rem;
}

.margin-top {
    margin-top: 50px; 
    @media screen and (min-width: $large_screen) {
        margin-top: 120px;
    }   
}

.margin-2 {
    margin: 0 1rem;
    @media screen and (min-width: $large_screen) {
        margin: 0 2rem;
    } 
}

.p-1 {
    padding-top:1rem;
}

.white-bg {
    background-color: $light_color;
}

.cat-title {
    font-size: 1.6em;
}


.no-results-container {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
