button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
		border: none;
		@include background;
		color: $light_color;
		height: 45px;
		width: 200px;
		cursor: pointer;
		@include box-shadow-normal;
		transition: all 0.2s ease-in;
		font-size: 1rem;
}

@mixin transition-read-more {
    transition: all .3s ease-in;  
}

@mixin red_button ($color) {
    border: 1px solid $color;
    padding: 1rem;
    width: 200px;
    border-radius: 2px;
}

.red_link,
.less {
    color:$red_main;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: $font__main;
    opacity:1;
    @include red_button($red_main);
    @include transition-read-more;
    text-align: center;
}

.red_link--more {
    color:$red_main;
    @include red_button($red_main);
    font-size: 1.2rem;
    font-family: $font__main;
    text-align: center;
    cursor: pointer;
    margin:0 auto;
    @include transition-read-more;
}

.red_link:hover,
.less:hover,
.red_link--more:hover {
    background-color:$red_main;
    color:$light_color;
}

.start {
    @include transition-read-more;
    opacity:1;
    height: 100%;
}

.hide-button {
    @include transition-read-more;
    display: none;
    margin:0;
}


.hide {
    opacity: 0;
    @include transition-read-more;
    height: 0px;
    width: 0px;
    text-align: center;
    overflow: hidden;
    margin:0;
}

.border-yellow {
    border:1px solid antiquewhite;
}

.border-yellow:hover {
    background-color: antiquewhite;
    color:$red_main;   
}

