p {
	font-family: $font-headings;
	font-size: 1rem;
	line-height: 1.5rem;
	color: $black_color; 
	
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	font-family: $font__pre;
	font-size: 0.9375rem;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted $mid_orange;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}
