h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__main;	
	color: red;
	line-height: unset;
}

h1 {
	font-size: 1.3rem;
}


h2,
.search-title {
	font-size: 1.2rem;

}

h3 {
	font-size: 1rem;
}


h4 {
	font-size:1rem;
}


h5 {
	font-size:1rem;
}



