.widget-area {
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
	background-color: $light_color;	
	color: $black_color;
	@media screen and(min-width: $large_screen)  {
		justify-content: space-evenly;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}    
}

.widget {
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-bottom: 2rem;
    @include background-light;
	@media screen and(min-width: $large_screen)  {
        padding: 2em 2em;
	}
	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget_title_container {
	display: flex;
	letter-spacing: 0.1rem;
	word-break: break-all;
	@media screen and(min-width: $large_screen)  {
		margin: unset;
	}
}

.widget-title
 {
	background: unset;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
	font-size: 1.3rem;
	font-weight: 400;
}


.widget_search {
	left: 0px;
    top:0px; 
    position: fixed;
    width: 100%;
    list-style: none;
    height: 100vh;
    margin: 0;
    padding-left: 0;
    opacity:0;
    transition: all 0.3s ease-in;
    z-index: -150000;
    flex-wrap: wrap;
    transform: translateY(0px);
    align-content: center;
    margin-bottom: 2rem;
    @media screen and (min-width: $large_screen) {
        display: flex;
        height: 100px;
        width: 100vw;
        padding: 0 2rem; 
	    flex-direction: row;
	    justify-content: flex-end;
        align-content: center; 
    }
    
}

.search-active {
    z-index: 150000;
    opacity:1; 
    @media screen and (min-width: $large_screen) {
        transform: translateY(80px);
    } 
}

.search-active-scrolled {
    z-index: 150000;
    transform: translateY(0px);
    opacity:1;
    @media screen and (min-width: $small_screen) {
        transform: translateY(70px);
    }  
    @media screen and (min-width: $large_screen) {
        transform: translateY(80px);
    }
}

.menu-scroller {
    @media screen and (min-width: $large_screen) {
        transform: translateY(80px);
    }  
}

.search-form {
    margin: auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;
    @media screen and(max-width: 425px) {
        display: block;
    }
    @media screen and (min-width: $large_screen) {
        width: unset;
    }
    label {
        input[type="search"] {
            @media screen and (min-width: $large_screen) {
                width: 600px;
            } 
        }
    }
}		

.search-field {
    font-size: 1em;
    height: 45px;
    font-family:$font__main;
    flex-grow: 3;
    color: $light_color;
    border-radius: 0;  	
    text-align: center; 
    @include box-shadow-normal;
    @media screen and(max-width: 425px) {
        height: 35px;
        width: 100%;
    }
}


.search-submit {
    @include box-shadow-normal;
}
.search-form  {
    input[type="submit"] {
        @include background;
        color:$light_color;   
        border-radius: 0; 
        width: 100%; 
        height: 35px;
        margin-top:10px;
        border-radius: 0 3px 3px 0;
        opacity: 1;
        @media screen and(min-width: 425px) {
            margin-top:0px;
            transform: translateX(-3px);
            width: 100px;
            height: 45px;
        }    
        @media screen and (min-width: $large_screen) {
            width: 200px;
        } 
    }
    input[type="submit"]:hover {
        cursor: pointer; 
    }
}

.search-icon {
    height:44px;
    cursor: pointer;
    align-self: center;
    stroke:$red_main;
    fill: $red_main;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid $red_main;
    
    @media screen and (min-width: $larger_screen) {
        margin-top: 0;
        border: none;  
        stroke: $light_color; 
        fill: $light_color;
        border: unset;
    } 
}

.search-icon--scrolled {
        stroke: $black_color; 
        fill: $black_color;
}

.search-icon--white{
    @media screen and (min-width: $large_screen) {
        stroke: $black_color; 
        fill: $black_color;
    } 
}

.search-x {
    align-self: center;
    width:25px;
    stroke: $black_color;
    height:25px;
    margin: 10px 15px;
    cursor: pointer;
    display: none;
    @media screen and(min-width: 425px) {
        display: block;
   }    
}



.svg-icons {
	height: 30px;
	margin-right: 1rem;
}

