// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin gradient {
	background: $mid_orange;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right,  $mid_orange, $dark_orange
	);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $mid_orange, $dark_orange
	);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin background {
	background:#B62626;
    background:linear-gradient(224.35deg, #942323 20.34%, #ff4433 73.72%);
}

@mixin background-light {
	background-color: $light_color;
    background:linear-gradient(224.35deg, #fff9f9 20.34%, #ffffff 73.72%);
}

@mixin front-page-title {
	font-size: 1.5rem;
	@media screen  and (min-width: $large_screen){
		letter-spacing: 0.2rem;
		font-size: 2rem;
    }	
}

@mixin border {
	border: 1px solid $mid_orange;
	padding:0.2rem;
}

@mixin box-shadow-normal {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

@mixin box-shadow-hover {
	box-shadow: 0 0px 7px $dark_color;
}


