.about-us {
    @media screen  and (min-width: $large_screen){
        display:flex;
         min-height: 100vh;
    }
}

.flexed {
    @media screen  and (min-width: $large_screen){
        margin: 0 auto;
        display:flex;
        justify-content: space-evenly;
    }
    @media screen  and (min-width: $large_screen){
        justify-content: space-between;
    }
}
 
.about-us-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen  and (min-width: $large_screen){
        padding: 2rem 0;
       
    }
}
   
.about-us__image, 
.about-us-container {
    @media screen  and (min-width: $large_screen){
        width: 50%;
        margin-left: 2rem;
    }
}


.about-us__image { 
    display: grid;
    place-items: center; 
    @media screen  and (min-width: $large_screen){
        object-fit: cover;
        max-width: 600px;
    };  
}


.about-us-container__title {
    font-weight: normal;
    @include front-page-title; 
    color:$dark_color;
    margin:0;
    text-align: left;
    @media screen  and (min-width: $large_screen){
        line-height: 2rem;
    }
}

.about-us-container__paragraph {
        color:$black_color; 
        place-items: center;
        max-width: 500px;
}

.about-us-container__text {
    margin:1.5rem;
    max-width: 460px;
}

.font-yellow {
    color: antiquewhite;
}

