#post-2995,
#post-3029 {
    .entry-header {
        display: none;
    }
    background-color: $black_color;
}

.hero {
    @include background;
    min-height: 100vh;
    display: flex;
    min-height: 650px;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 54% 10%;
    border-bottom-right-radius: 54% 10%;
    box-shadow: box-shadow-normal;
    @media all and (orientation:landscape){
        align-items: unset;
        flex-direction: row;  
        min-height: unset;
    }
    @media screen  and (min-width: $smaller_screen) and (orientation:portrait){
        min-height: 880px;
    }
    @media screen  and (min-width: $small_screen){
        flex-direction: row;
        align-items: unset;
    }
    @media screen  and (min-width: $large_screen){
        min-height: 100vh;
        max-height: 100vh;
    }
    @media screen  and (min-width: $extra_large_screen){
        min-height: 1020px;
        max-height: unset;
    }
}

.hero__image {
    margin-top:unset;
    margin-bottom: 1rem;
    @media all and (orientation:landscape){
        max-width: 360px; 
    }
    @media screen  and (min-width: $small_screen){
        max-width: 380px;
    }
    @media screen  and (min-width: $medium_large_screen) and (orientation:portrait){
        max-width: 540px;
    }
    @media screen  and (min-width: $large_screen){
        max-width: 540px;
    }
    @media screen  and (min-width: $extra_large_screen){
        max-width: unset;
        width: 800px;
    } 
}

.hero-container {
    max-width: 120px;
    color: $light_color;
    @media screen  and (min-width: 282px){
        max-width: 190px;
    }
    @media all and (orientation:landscape){
        align-self: center;
        max-width: 200px;  
    }
    @media screen  and (min-width: $small_screen ){
        align-self: center;
        max-width: 200px; 
        margin: 0 auto;
    }
    @media screen  and (min-width: $large_screen){  
        max-width: 383px; 
    }
    @media screen  and (min-width: $extra_large_screen){
        max-width: 500px;
    }
}

.hero-container__heading {
    font-size: 2.3rem;
    letter-spacing: 0.3rem; 
    line-height: unset;
    margin:0;
    font-weight: bolder;
    color: $light_color;
    text-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
    @media screen  and (min-width: $smallest_screen){
        font-size: 2.4rem;
    }
    @media screen  and (min-width: $medium_screen){
        font-size: 3.4rem;
    }
    @media screen  and (min-width: $large_screen){
        font-size: 5rem;
    }
    @media screen  and (min-width: $extra_large_screen){
        font-size: 5.2rem;
    }
}

.hero-container__slogan {
    margin: 1.2rem 0;
    line-height: 1.3; 
    margin-top:0.5rem; 
    color:$light_color; 
    text-shadow:0 1px 7px rgba(0, 0, 5, 0.3);
    @media screen  and (min-width: $smallest_screen){
        font-size: 1.1rem;    
    }
    @media screen  and (min-width: $medium_screen){
        font-size: 1.4rem;
    }
    @media screen  and (min-width: $large_screen){
        font-size: 1.6rem;
        margin-top:0;
    }
    @media screen  and (min-width: $extra_large_screen){
        font-size: 2rem;
    }
}

.hero-container__call-to-action {
    font-size: 0.7rem;
    cursor: pointer; 
    height: 50px;
    max-width: 180px;
    color: $red_main;
    @media screen  and (min-width: 282px){
        font-size: 0.8rem;
        max-width: 140px;
    }
    @media screen  and (min-width: $small_screen){
        max-width: 180px;
        font-size: 0.9rem;
    }
    font-family: $font__main;
    @include box-shadow-normal;   
    background-color: white;
    border-radius: 30px;
    padding: 0.5rem;
    display: grid;
    font-size: 1rem;
    place-items: center;
   
}

.hero-container__call-to-action:hover {
    background-color: unset;
    box-shadow: 0px 0px 2px white;
    color: white;
}

#more {
    transform: translateY(-100px); 
    @media screen  and (min-width: $large_screen){
        transform: translateY(0px); 
    }
} 

.down {
    display:none;
    @media screen  and (min-width: $large_screen){

        display: block;
        cursor: pointer;
        border-radius: 50%;
        background-color: $red_main;
        width: 60px;
        position: unset;
        background-color: unset;
        display: block;
        margin: 0 auto;
        transform: translateY(-150px);
        animation: 2s ease-out 0.5s infinite downer;
    }
    @media screen  and (min-width: $extra_large_screen){
        transform: translateY(-180px);
    }
}

@keyframes downer {
    0% {
        box-shadow: 0px 0px 2px $light_color;
    }

    100% {
        box-shadow: 0px 0px 35px $red_main;
    }
}