.publication-card {
    margin: 0 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: $light_color;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    width: 260px;
    @media screen  and (min-width: $small_screen){
        width: 280px;
    }    
    @media screen and (min-width: $medium_screen) {
        flex-direction: row;
        min-width: 540px;
    }
    img {
        object-fit: cover; 
        margin: 0 auto;
        border-radius: 2%;
        min-width: 230px;
        min-height: 310px;
        @media screen  and (min-width: $medium_screen){
            transition: all 0.2s ease-in;
        }
    }
    
    @media screen  and (min-width: $small_screen){
        margin: 0 1em;
        margin-bottom: 2rem;
    }
    
}

.publication-card-wider {
    @media screen  and (min-width: $medium_screen){
        min-width: 740px;
    }
   
}

.flex-end {
    align-self: flex-end;
     margin-top:auto;
}

.publication-image-container {
    @media screen and (min-width: $medium_screen) {
        margin-right: 1rem; 
    }   
}

.publication-card__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hide-on-small-screen {
    display: none;
    @media screen and (min-width: $medium_screen) {
        display: block;
    } 
}

.publication-card-title {
    margin:unset;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    min-height: 20px; 
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    text-align: center;
    @media screen  and (min-width: $medium_screen){
        line-height: 1.8rem;
        text-align: unset; 
        margin-top: unset;
    }
 }

 .is-visible {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg); 
} 
