.sexwork-container {
    background: $black_color;
    padding-top: 1rem;
}

.sexwork {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 720px;
}

.sexwork__title {
    margin: 2rem 1.4rem;
    margin-bottom: 0;
    text-align: center;
    color: $red_main;
    @include front-page-title; 
    @media screen and (min-width: $large_screen) {
        margin: 2rem 1.4rem;
    }
}

.card  {
    max-width: 340px;
    margin: 1rem 1.5rem;
    img {
        object-fit: unset;
        max-height: 200px;
        width: 100%;
        height: 50%;
    } 
}

.card__paragraph {
    margin: 0;
    color:$light_color;
}

.sexwork__card {
    display:flex;
    flex-direction: column;
    img {
        align-self: center;
        max-width: 130px;   
        @media screen and (min-width: $large_screen) {
            max-width: unset;
            transform: translateX(-15px);
        }
    }
    h3 {
        margin-top:2rem;
        color: $red_main;
    } 
}

@mixin transition-read-more {
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.red_link,
.less {
    color:$red_main;
    opacity:1;
    @include transition-read-more;
}
.start {
    @include transition-read-more;
    opacity:1;
    height: 100%;
}

.hide {
    opacity: 0;
    @include transition-read-more;
    height: 0px;
    overflow: hidden;
    margin:0;
}

.pmt-2 {
    margin-top: 2rem;
}


