$light_orange: #7B6A7F; 
$mid_orange: #CC1F38;
$dark_orange: #CC1F38;
$darker_orange: #AC022C;

$red_main:#EE3626;
$red_dark: #B62626;
$black_main:#282626;
$light_color: #F7F7F8;
$light_gray: #E5E5E5;
$dark_color: #273746;
$black_color: #413742;