/**
 * Use min-width
 */

$smallest_screen: 320px;    
$smaller_screen: 425px; 
$small_screen: 576px;
$medium_screen: 768px;
$medium_large_screen: 800px;
$large_screen: 1023px;
$not_quite_larger_screen:1300px;
$larger_screen:1420px;
$extra_large_screen: 1600px;
$fullHD_screen: 1820px;