@keyframes slideInFromLeft {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%) scale(3);
      
    }
    100% {
      transform: translateX(0) scale(1); 
    }
  }


  .hero-container__heading {

      animation: 0.2s ease-out 0.5s 1 slideInFromLeft;
      animation-fill-mode: both;
  }

  .hero-container__slogan {
      animation: 0.2s ease-out 0.7s 1 slideInFromLeft;
      animation-fill-mode: both;
  }

  .hero-container__call-to-action  {
      animation: 0.2s ease-out 0.9s 1 slideInFromLeft;
      animation-fill-mode: both;
  }

  .hero__image{
      animation: 0.5s ease-out 0s 1 slideInFromRight;
      animation-fill-mode: both;
  }


