a {
	color: $mid_orange;
	text-decoration: none;
	transition: all 0.2s ease-out;
	
	&:visited {
		color: $dark_orange;
	}

	&:hover,
	&:focus,
	&:active {
		color: $red_dark;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.nav-previous,
.nav-next {
    p {
    color: $mid_orange;
    font-size: 0.8em;
    }
}
.nav-title {
    font-family: $font-headings;
}


.nav-links {
    display: flex;
    justify-content: center;
    line-height: 1rem;
    margin: 1.3rem;
    font-family: $font__main;
    .page-numbers {
        display: block;
        padding: 0.6rem;
    } 
    .current {
        border: 1px solid $mid_orange;
        color: $mid_orange;
    }
} 

.posts-navigation,
.post-navigation {
	max-width:900px; 
	margin: 3em auto;
	.nav-links {
		display: flex;
		margin: 0 auto;
		font-size: 1rem;
		@media screen and (min-width: $large_screen) { 
			font-size: 1.2rem;
		}
		@media screen and (min-width: $extra_large_screen) {  
			font-size: 1.3rem;
		}
	}	
}

.page-links {
	clear: both;
    margin: 0 0 1.5em;
    padding: 1rem;
}

.tags-links {
    font-size: 1rem; 
    line-height: 1.5rem;

}

.edit-link {
    font-size: 0.8  rem;
    text-transform: uppercase;
}

.cat-links {
	a {
        text-transform: uppercase;
        color:$black_color;
        font-size: 0.7rem;
        @media screen and (min-width: $large_screen) {
            font-size: 0.9rem;
        }
    }
    a:hover {
        color: $mid_orange;
        text-decoration: underline;
    }
}

.post-date {
    display: block;
}