.main-menu {
	position: absolute;
	left: 0px;
	top:0px; 
	display:flex; 	
	flex-direction: column; 
	height:100vh;
	width: 100vw;
	background:  $light_color;
	justify-content: center;
	align-items: center;
	transform: translateX(-101vw);
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	transition: transform 0.2s ease-in;
	@media screen and (min-width: $medium_screen) {
		width: 30vw;
	}
	@media screen and (min-width: $larger_screen) {
		box-shadow: unset;
		position: static;
		flex-direction: row; 
		height:unset;
		width: unset;
		background: unset;
		min-width: 350px;
		transition: unset;
		transform: translateX(0px);
		top:0;
    }    
}

.menu {	
	color: $black_color;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	letter-spacing: 0.1rem;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: $larger_screen) {
		flex-direction: row;
		height: unset;
		position:static;
		background-color: unset;
		justify-content: flex-end;
		min-width: 500px;
	} 
	li {
		font-family: $font__main;
		position: relative;
		padding: 0.6rem 0;
		@media all and (orientation:landscape){
			padding: 0.3rem 0;
		}
		@media all and (min-width:$large_screen) and (orientation:landscape){
			padding: 0.6rem 0;
		}

		a {
			display: block;
			color: $black_color;
			font-size: 14px;
			@media screen and (min-width: $larger_screen) { 
				box-sizing: border-box;
				color: $light_color;
				border-bottom: 1px solid rgba(1, 1, 1, 0);
				padding: 0.4em 0.6em;
				border-width: 1px;

			}
			
		}
		a:hover,
        a:focus,
        a:active {
			@media screen and (min-width: $larger_screen) { 
            color: $black_main;
            border-bottom: 1px solid $black_main;
			}
		}
	}	
}

.menu-active {
	display: flex;
	transform: translateX(0px);
	@media screen and (min-width: $larger_screen) {
		position: unset;
    }    
}

.scrolled-menu-items {
    @media screen and (min-width: $larger_screen) {
        li {
            a {
                color: $black_color;
                border-bottom: 1px solid rgba(255, 8, 8, 0);
            }
            a:hover,
            a:focus,
            a:active {
                border-bottom: 1px solid $black_main;
            }
            
        }
    }
 }

 /*
* Do you know the song "Such a Shame"? Well, this is it..
*/

.smaller-header-dark {
    @media screen and (min-width: $large_screen) {
        .menu {
            li {
                a {
                 color: black;
                }
            }
         
        }
    }
   
}

.toggler {
    padding:auto 10px;
    display: flex;
    flex-direction:column;
	margin: 5px 5px;
	cursor: pointer;
    @media screen and (min-width: $larger_screen) {
        display: none;
    }    
    div {
		@media screen and (max-width: $larger_screen) {
			width: 23px;
			margin: 3px 0;
		}   
        height: 2px;
        width: 30px;
        margin: 4px 0;
        background-color: $black_color;
    }  
}  

.nav-menu
 {
    display:flex; 
 }

.sub-menu {
    display:none;
 }

.menu-hider {
	z-index: -10000000000;
	display: none;
}

.menu-hider-active {
	display: block;
	position: absolute;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
}


/**
*Menu stagered animnation 
*/
.open-menu-items {
	li {
	animation: 0.4s ease pulse;
	animation-fill-mode: both; 
	}
}

@for $i from 1 through 9 {
	.open-menu-items {
	  // :nth-child(1-9) 
	  li {
		&:nth-child(#{$i}) {
			// Delay the animation. Delay increases as items loop.
			animation-delay: $i * (1.2s / 18);
			}
		}
	}
}

@keyframes pulse {
	0% {
		transform: translateX(-75px);
	}
	
	100% {
	  ttransform: translateX(0px);
	}
  }